nav ul a {

	color: #000!important;
	font-weight: 600

}

input::-webkit-input-placeholder {
	color: #787878!important;
	font-weight: 600;
}

.c-movil{
	padding: 0 32px!important;
}

.h-c-movil{
	font-weight: 600!important;

}

.s-movil{
	padding: 0 52px!important;
	font-weight: 500!important;
	


}

i.material-icons.prefix.active{
	background-color:transparent!important;

}

label.active{
	background-color:transparent!important;
}

.sidenav{

	width: 100%!important;

	background-color: #787878!important;
}

.gris-genia-oscuro{
	background-color: #787878!important;

}

.sidenav li>a {
	color: #fff!important;
	display: block;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	padding: 0 32px;
}
.dropdown-content

.logo-genia{
	vertical-align: middle;
	width: 15vh;
}
.padding-menu{padding-top: 80px!important;}

.idioma{
	margin-left: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.mini-container{
	width: 82%!important;
	max-width: auto!important;
}

.justificado{
	text-align: justify;
}


.texto-index{
	padding-top: 15vh;

}

/*se aplican las dimensiones de Genia*/
nav {

	background-color: #ffffff8c!important;

	width: 100%;

	height: 56px;

	line-height: 56px;

	box-shadow: none!important;
}

/*mapamundi fondo*/
.mapamundi{
	background-image: url("../img/mapa.png"); /* The image used */
	background-position: top right; /* Center the image */
	background-size: auto;
	background-repeat: no-repeat;
}

.mapamundi-ancestros{
	background-image: url("../img/mapa.png"); /* The image used */
	background-position: top center; /* Center the image */
	background-size: auto;
	background-repeat: no-repeat;
}

.fondo-adn{
	background-image: url("../img/funciona/background-2.png"); /* The image used */
	background-position: center; /* Center the image */
	background-size: auto;
	background-repeat: no-repeat;
}


.fondo-adn-horizontal{
	background-image: url("../img/salud/adn-horizontal.png"); /* The image used */
	background-position: center; /* Center the image */
	background-size: auto;
	background-repeat: no-repeat;
}


.texto-funciona{
	font-size: 20px;
	font-weight: 600;
	text-align: justify;
}

.texto-menu{
	font-size: 20px!important;
	font-weight: bold;
}

.texto-panel-index{
	min-height: 102px;
}

.gris-genia { color: #747474; }

.gris-genia-fondo { background-color: #f2f2f2!important; }


/*color de los iconos grises*/
.material-icons.gris-genia { color: #747474; }


/*dropwdown*/
.drp {
	float: left;
	overflow: hidden;
}

.drp .dropbtn {
	font-size: 16px;
	/* font-weight: 600; */
	border: none;
	outline: none;
	color: black;
	/* padding: 14px 16px; */
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}


.drp-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	color: #747474;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	z-index: 1;
	top: 42px;
	line-height: 2rem;
}

.drp-content a {
	float: none;
	color: #747474!important;
	/* padding: 12px 16px; */
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 14px;
	text-transform: CAPITALIZE;
}

.drp-content a:hover {
	background-color: #e7e7e7;
}

.drp:hover .drp-content {
	display: block;
}

/*botones*/

.btn-login{
	border-radius: 20px!important;
	min-width: 180px;
}

.btn-reporte{
	border-radius: 20px!important;
	min-width: 180px;
	background-color: #B6B6B6!important;
	color:white!important;
}

#modal-login{
	width: 30%;
	border-radius: 15px;
}

#modal-comprar{
	width: 50%;
	border-radius: 15px;
	/* height: max-content; */
	top: 5%!important;
	max-height: 85%;
}


.input-funciona{
	border-color: #e4e4e4!important;
	border: 2px;
	border-style: solid;
	border-radius: 18px;
}



/* Dispositivos */
@media  (min-width: 1280px) and (max-width: 1360px) {
	
	.texto-menu {
		font-size: 18px!important;
		font-weight: bold;
	}

	#modal-login{
		width: 70%;
		
	}

	#modal-comprar{
		width: 70%;
		border-radius: 15px;
		/* height: max-content; */
		top: 1%!important;
		max-height: 99%;
	}
	.fondo-adn {
		background-image: url(../img/funciona/background-2.png);
		background-position: center; 
		background-size: auto;
		background-repeat: no-repeat;
	}
}

@media  (min-width: 1360px) and (max-width: 1399px) {
	.texto-menu {
		font-size: 18px!important;
		font-weight: bold;
	}

	#modal-login{
		width: 70%;
		
	}

	#modal-comprar{
		width: 70%;
		border-radius: 15px;
		/* height: max-content; */
		top: 1%!important;
		max-height: 99%;
		
	}

	.fondo-adn {
		background-image: url(../img/funciona/background-2.png);
		background-position: center; 
		background-size: auto;
		background-repeat: no-repeat;
	}
}

@media (min-width: 1400px) and (max-width: 1499px){
	#modal-comprar{
		width: 70%;
		border-radius: 15px;
		/* height: max-content; */
		top: 4%!important;
		max-height: 99%;
		
	}
}

@media (min-width: 1500px) and (max-width: 1699px){
	
}

@media (min-width: 1600px) and (max-width: 1699px){
	
}

@media  (min-width: 1700px) and (max-width: 1980px) {
	
}
/* dispositivos mÃ³viles */
@media (max-width: 850px){

	#modal-login{
		width: 100%;
		border-radius: 0px;
	}

	#modal-comprar{
		width: 100%;
		border-radius: 15px;
		/* height: max-content; */
		top: 1%!important;
		max-height: 99%;
	}


	.texto-funciona{
		font-size: 16px;
		font-weight: 600;
		text-align: justify;
	}

	.dot-container {
		text-align: center;
		padding-top: 90%!important;
		background: transparent;
	}
}




/* Slideshow container */
.slideshow-container {
	position: relative;
	background: transparent;
}

/* Slides */
.mySlides {
	display: none;
	padding: 80px;
	padding-top: 5px;
	text-align: center;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: #888;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
	text-align: center;
	padding-top: 8%;
	background: transparent;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
	background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}