<body style="margin:0px;padding:0px;overflow:hidden">
    <iframe src="http://genia.primedevelopers.cl/" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
</body>